.debug {

    * {
        border: 1px dashed black;
    }

    header {
        background-color: orange;
    }

    .container {
        height: 500px;
        background-color: rgb(255, 110, 132);
    }

    .container-big {
        background-color: pink;
    }

    .jumbotron {
        min-height: 100px;
    }

    h1 {
        background-color: aqua;
    }

    div {
        background-color: beige;
    }
    #teams {
        background-color: purple;
    }

    [class^="col-"] {
        min-width: 30px;
    }
}

body {
    font-family: sans-serif;
}

/* colors */
:root {
    --main-text: black;
    --buttons-text: white;
    --btn-blue: #0061fe;
    --btn-blue-text: white;
    --jumbotron-bg: #b4d0e6;
    --footer-bg: black;
}

.container {
    margin: 0 auto;
    width: 55%;
}

section {
    padding: 5rem;
}

h1 {
    width: 80%;
    margin-left: 15%;
    font-size: 60px;
    font-weight: 800;
}
h2 {
    font-size: 30px;
}

.margin-top-zero {
    margin-top: 0;
}


.container-big {
    width: 70%;
    margin: 0 auto;
}

/* commons */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.list-unstyled {
    list-style: none;
}

.width-30 {
    width: 30%;
}

.width-65 {
    width: 65%;
}

.wrap {
    flex-wrap: wrap;
}


/* commons - end */

.links {
    gap: 30px;
}

a {
    &:hover {
        text-decoration: underline;
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.col-30 {
    width: 30%
}

.col-100 {
    width: 100%;
}

.col-35 {
    width: 34%;
}

.col-65 {
    width: 65%;
}
.col-5 {
    width: calc(100% / 5);
}

#plans {
    &: col-100 {
        padding: 20px;
    }
}

nav {
    margin: 0.5rem;

    & a {
        text-decoration: none;
        color: var(--main-text-color);
    }
}

.btn {
    padding: 5px 10px;

    &.blue {
        background-color: var(--btn-blue);
        color: var(--btn-blue-text);
        text-decoration: none;
    }
}

.jumbotron {
    background-color: var(--jumbotron-bg);
    padding: 20px;

    & img {
        margin-left: -20px;
        width: 100%;
    }
}

.arrow {
    font-size: 25px;
    margin-top: 20px;
}

.business {
    padding-top: 30px;
}

h2 {
    margin-top: 0;
}
footer {
    background-color: var(--footer-bg);
    padding: 2rem;
    color: var();
}